In [29]:
# Dependencies
import csv
import pandas as pd
import os
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress 
import seaborn as sns 
from scipy import stats

In [71]:
# Import the covid-19 dataset 
csv_path = ('Resources/owid-covid-data.csv')
covid_data_df = pd.read_csv(csv_path)
covid_data_df.head(200)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,3/13/2020,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,3/19/2020,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,3/20/2020,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,3/21/2020,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,3/22/2020,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,AFG,Asia,Afghanistan,12/31/2019,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
196,AFG,Asia,Afghanistan,1/1/2020,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
197,AFG,Asia,Afghanistan,1/2/2020,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
198,AFG,Asia,Afghanistan,1/3/2020,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
199,AFG,Asia,Afghanistan,1/4/2020,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [36]:
#Drop cells containing NaN
covid_data_clean = covid_data_df.dropna()
covid_data_clean.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
4086,BGD,Asia,Bangladesh,3/17/2020,5.0,2.0,0.286,0.0,0.0,0.0,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.608
4087,BGD,Asia,Bangladesh,3/18/2020,8.0,3.0,0.714,0.0,0.0,0.0,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.608
4088,BGD,Asia,Bangladesh,3/19/2020,10.0,2.0,1.000,0.0,0.0,0.0,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.608
4089,BGD,Asia,Bangladesh,3/20/2020,10.0,0.0,1.000,0.0,0.0,0.0,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.608
4090,BGD,Asia,Bangladesh,3/21/2020,17.0,7.0,2.000,0.0,0.0,0.0,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.608

In [32]:
#Get Total for the following:
#Total # of Cases for North America
total_cases_na = covid_data_clean["total_cases"].sum()
total_cases_na
#Total # of Cases for Africa 
#Total # of Deaths for North America 
#Total # of Death for Africa
#Create a pie-chart to show the difference between the two continent

387748653.0

In [68]:
# Get total # of cases by continent

total_cases_group = covid_data_clean.groupby(["continent"])["total_cases"].sum()
total_cases_group = pd.DataFrame(total_cases_group)
total_cases_group.head()
# Get total # of cases by content

               total_cases
continent
Africa          54299420.0
Asia           278044219.0
North America   54385940.0
South America    1019074.0

In [69]:
# Get total # of death by continent
total_death_group = covid_data_clean.groupby(["continent"])["total_deaths"].sum()
total_death_group = pd.DataFrame(total_death_group)
total_death_group

               total_deaths
continent
Africa            1031875.0
Asia              5557572.0
North America     5238725.0
South America       16417.0

In [70]:
# merge dataframe of total cases and total death in each continent
#
merge_cases_df = pd.merge(total_cases_group,total_death_group, how="inner",on = "continent")
merge_cases_df.head()

               total_cases  total_deaths
continent
Africa          54299420.0     1031875.0
Asia           278044219.0     5557572.0
North America   54385940.0     5238725.0
South America    1019074.0       16417.0

In [ ]:
#Correlation of # of covid-19 cases with population density 
#create graph

In [ ]:
#Correlation of # of covid-19 cases with GDP per capita 
#create graph

In [ ]:
#Correlation of total # of deaths with life expectancy 
#create graph

In [ ]:
#Correlation of diabetes with total # of deaths 
#create graph

In [ ]:
#How many hospital beds per thousand available for each continent? 
#create graph